<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--SaaSGrid Local Configuration-->        
    <add name="Taskr"
         connectionString="Data Source=asterix;Initial Catalog=Taskr;Integrated Security=True"
         providerName="System.Data.SqlClient" />
    <!--End SaaSGrid Local Configuration-->

    <!--SaaSGrid Live Configuration
    <add name="Taskr"
         connectionString="Data Source=[Database Server Name];Initial Catalog=Taskr;Integrated Security=True"
         providerName="SaaSGrid.Data.SqlClient" />
    End SaaSGrid Live Configuration-->
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="DefaultTcpBinding" maxReceivedMessageSize="16777216" listenBacklog="100" sendTimeout="20:00:00" receiveTimeout="20:00:00" openTimeout="20:00:00" closeTimeout="20:00:00">
          <security mode="None" />
          <readerQuotas maxArrayLength="16777216"/>
        </binding>        
      </netTcpBinding>
      
      <!-- The basicHttpBinding is required for Silverlight client support-->      
      <basicHttpBinding>
        <binding name="DefaultBasicHttpBinding" maxReceivedMessageSize="16777216" sendTimeout="20:00:00" receiveTimeout="20:00:00" openTimeout="20:00:00" closeTimeout="20:00:00">
          <security mode="None" />
          <readerQuotas maxArrayLength="16777216"/>
        </binding>        
      </basicHttpBinding>
      
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ApprendaServiceBehavior">
          <serviceThrottling maxConcurrentCalls="10000" maxConcurrentInstances="10000" maxConcurrentSessions="10000"/>                    
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="ApprendaEndpointBehavior">
          <ContextBehavior />
        </behavior>
        <behavior name="webHttpBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="ContextBehavior"
             type="Apprenda.SaaSGrid.API.Local.ContextEndpointBehaviorExtension, SaaSGrid.API.Local, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>
    <services>
      <service name="Apprenda.Taskr.Service.TaskrCoreService" behaviorConfiguration="ApprendaServiceBehavior">
        <endpoint address="net.tcp://localhost:40000/TaskrCoreService"
                  binding="netTcpBinding"
                  bindingConfiguration="DefaultTcpBinding"
                  behaviorConfiguration="ApprendaEndpointBehavior"
                  contract="Apprenda.Taskr.Service.ITaskrCoreService"/>
        
        <!--Expose an endpoint for the Silverlight client-->        
        <endpoint address="http://localhost:40001/TaskrCoreService"
                  binding="basicHttpBinding"
                  bindingConfiguration="DefaultBasicHttpBinding"
                  behaviorConfiguration="ApprendaEndpointBehavior"
                  contract="Apprenda.Taskr.Service.ITaskrCoreService"/>
        
        <!-- Expose and endpoint that will serve the clientaccesspolicy.xml file -->
        <endpoint address="http://localhost:40001"
                  binding="webHttpBinding"
                  behaviorConfiguration="webHttpBehavior"
                  contract="Apprenda.Taskr.Service.IClientAccessPolicy" />

      </service>
    </services>
  </system.serviceModel>
  
</configuration>
