<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="System.Data.Linq.DataContext.TaskrConnectionString" 
             connectionString="Data Source=asterix;Initial Catalog=Taskr;Integrated Security=True"
             providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>